body{
  background-image: url('../images/berrynicebackground2.jpg');
}

.banner {
  background-image: url('../images/berrynicebanner.png');
  background-size: cover;
  -webkit-border-radius: 12%;
          border-radius: 12%;
  border-color: black;
  border-width: 3%;
  border-style: outset;
  height: 40%;
  width: 100%;
}

.instructions {
  -webkit-border-radius: 3%;
          border-radius: 3%;
  color: black;
  background-color: rgba(47, 79, 79, .7);
  margin-top: 1%;
  text-shadow: 2px 2px 7px #FFF;
}

.berry {
  border-color: black;
  border-style: solid;
  border-width: 4%;
  border-radius: 80%;
  float: left;
  height: 15%;
  width: 25%;
}

#goal-number-text {
  font-weight: bolder;
  color: crimson;
  font-size: ;
  }
  



